.calendar {
    display: flex;
    justify-content: center;
    align-content: center;
    // padding: 30px;
    width: 100%;
    flex-wrap: wrap;
  
    .box {
      flex-basis: calc(100% / 7 - 5px);
      display: flex;
      justify-content: center;
      align-content: center;
      height: 50px;
      border: 1px solid #222;
    }
    .today-date {
      color: white;
      background-color: rgb(16, 110, 190);
    }
  }


  